<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Group Chat</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type = "text/javascript" src="/socket.io/socket.io.js"></script>
	<script type = "text/javascript" src="/js/main.js"></script>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div id="nameForm">
		<form action="newGuy">
			<p>Please enter your name!</p>
			<p>Name: </p>
			<input type="text" name="name">
			<input type="submit" value="Submit">
		</form>
	</div>
	<div id="convoBoard">
		<div id="messages">
			<div id="oldMessages"></div>
			<div id="newMessages"></div>
		</div>
		<form action="newMessage">
			<input type="text" name="message" placeholder="enter your message here">
			<input type="submit" value="submit">
		</form>
	</div>
</body>
</html>
