<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survey Form</title>
</head>
<body>
	<form action="/result" method="post" >
		<input type="text" name="name">
		<select name="location">
			<option value="Mountain View">Mountain View</option>
			<option value="Seattle">Seattle</option>
			<option value="Chicago">Chicago</option>
		</select>
		<select name="language">
			<option value="javaScript">javaScript</option>
			<option value="Python">Python</option>
			<option value="Swift">Swift</option>
		</select>
		<textarea name="comment" id="" cols="60" rows="10"></textarea>
		<input type="submit" value="Submit">
	</form>
</body>
</html>