<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type = "text/javascript" src="/socket.io/socket.io.js"></script>
	<script type = "text/javascript" src="/js/main.js"></script>
</head>
<body>
	<h2>Edit this Chicken</h2>
	<form action="/chickens/<%= chicken.id %>" method="post">
		<input type="text" name="name" value="<%= chicken.name %>">
		<input type="number" name="age" value="<%= chicken.age %>">
		<select name="special">
			<option value="true">True</option>
			<option value="false">False</option>
		</select>
		<input type="submit" value="Submit">
	</form>
	<form action="/chickens/<%= chicken._id %>/destroy" method="post">
		<input type="submit" value="Destroy this Chicken">
	</form>
</body>
</html>