<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quoting Dojo</title>
</head>
<body>
	<h2>Quotes</h2>
	<% for (quote in quotes){ %>
		<b><%= quotes[quote].name %></b>
		<b><%= quotes[quote].quote %></b>
	<% } %>
</body>
</html>